
<center>
<h1> Booking conformation </h1>

<strong>Yellow bus bookings</strong>

<br>

<p>Time of download </p> 
<%= Time.zone.now %>
</p> 

<p>

<strong>From</strong>
<%= @booking.from %>

<strong>TO</strong>
<%= @booking.to %>



</center>
