<center>
<h1>Welcome to yellow bus bookings</h1>

<%= image_tag("dp.png",size: 200) %><br>

<%= link_to "New user? Sign up",signup_path %><br>
<br>
<%= link_to 'Log in', login_path%><br>
<br>

</center>